
{{ this.autorizacion }}

<div class="row">
  <div class="col-12 col-lg-6">
    <label for="txtEmail">Email</label>
    <input type="email" class="form-control" id="txtEmail" value="{{ this.datos.p_correo }}" {{#if perfil}} disabled {{else}} required {{/if}} />
    <span id="faltaEmail" class="faltador">&nbsp;</span>
  </div>
  <div class="col-12 col-lg-6">
    <label for="txtNombre">Nombre</label>
    <input class="form-control " id="txtNombre"  required/>
    <span id="faltaNombre" class="faltador">&nbsp;</span>
  </div>
  <div class="col-12 col-lg-6">
    <label for="txtPass">Password</label>
    <input type="password" class="form-control" id="txtPass"  required />
    <span id="faltaPass" class="faltador">&nbsp;</span>
  </div>
  <div class="col-12  col-lg-6">
    <label for="txtPass2">Repita la password</label>
    <input type="password" class="form-control" id="txtPass2"  required/>
    <label id="veriPass hidden"></label>
    <span id="faltaPass2" class="faltador">&nbsp;</span>
  </div>
  <div class="col-12  col-lg-6">
    <label for="txtExp">Años de experiencia</label>
    <input class="form-control" id="txtExp"  required />
    <span id="faltaExp" class="faltador">&nbsp;</span>
  </div>
  <div class="col-12 col-lg-6">
    <label for="txtEspec">Especialidad</label>
    <input class="form-control m-auto" id="txtEspec" required />
    <span id="faltaEspec" class="faltador">&nbsp;</span>
  </div>
  {{#unless perfil}}
  <div class="col-12">
    <label for="fotoPerfil">Foto de perfil</label>
    <input type="file" id="fotoPerfil" /><br>
    <span id="faltaFoto" class="faltador">&nbsp;</span>
    <br>
  </div>
  <div class="col-12"><span id="faltaConsent" class="faltador">&nbsp;</span></div>
  {{/unless}}
</div>
