<div class="row">
    <div class="col col-lg-4" >
        <img src="/imgs/{{this.foto}}.jpg" class="fotosPerfil" >
    </div>
    <div class="col col-lg-8">
        <div>{{ this.nombre }}</div>
        <div>{{ this.especialidad }}</div>
        <div>{{ this.anos_experiencia }}</div>
    </div>
</div>