<div class="row">
    <div class="col-4">
        <img src="/imgs/{{this.foto}}.jpg" class="fotosPerfil" >
    </div>
    <div class="col-8">
        <div>{{ this.nombre }}</div>
        <div>{{ this.especialidad }}</div>
        <div>{{ this.experiencia }}</div>
    </div>
</div>