    <div class="modal fade" tabindex="-1" id="modalExito">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body container">
            <h3>Usuario registrado con éxito.</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>