  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">Menu</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/" aria-current="page" id="nbInicio">Inicio</a>
        <a class="nav-link" href="/registro" id="nbRegistrarme">Registrarme</a>
        <a class="nav-link" href="/perfil" id="nbPerfil">Mi Perfil</a>
        <a class="nav-link" href="/admin" id="nbAdmin">Administrador</a>
        <a class="nav-link" href="/login" id="nbAbrir">Iniciar Sesión</a>
        <a class="nav-link" href="#" id="nbCerrar">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>