
<h1>Actualizar perfil</h1>

<div class="container">
  <hr class="w-80" />
  <form id="perfil"></form>
    {{> formulario_registro }}
    {{#if autorizacion}}
    <button class="btn btn-info m-3" id="btnPerfil">Guardar</button>
    {{/if}}
  </form>      
</div>

<!-- Modal -->
{{> modal_registro }}
<!-- /Modal -->

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/perfil.js"></script>
